@import url('https://fonts.googleapis.com/css2?family=Montaser:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900;1000&display=swap');

body{
background-color: #d9d9d9;
color: white;

min-height: 10vh;
}
#barrac{
width: 1000px;
height: 50px;
background-color: white;
position: sticky;
top: 30px;
border-radius: 50px;
left: 19px;
display: flex;
margin: 0 auto;

}
#logo{
width: 120px;
height: 120px;
background-image: url(LogoQ.png);
background-repeat: no-repeat;
background-position: -10px;
background-size: 100%;
z-index: 1;
position: sticky;

transform: translate(10px, -36px);
}

#botaop{
width: 120px;
height: 40px;
background-color: black;
position: sticky;
transform: translate(755px, 4.9px);
border-radius: 50px;
}
#botaop3{
width: 100px;
height: 100px;
    font-family: 'Montserrat', sans-serif;
position: sticky;
transform: translate(16px, -10px);
letter-spacing: -0.3px;
}

nav{
position: sticky;
top: 28px;
}

nav ul{
width: 100px;
height: 100px;
    color: black;
display: flex;
gap: 57px;
list-style: none;
font-family: 'Poppins', sans-serif;
font-size: 130%;
transform: translate(-267px, 9px);
padding: 0;
margin: 0;
font-weight: 400;
}

nav li{
white-space: nowrap;

}
#cod{
 font-family: 'Poppins', sans-serif; 
 font-weight: 600;
 color: black;
 display: flex;
 justify-content: center;
 align-items: center;
 position: relative;
 font-size: 550%;
 top: 200px;
}
#ops{
 font-family: 'Poppins', sans-serif; 
 font-weight: 400;
 color: black;
 display: flex;
 justify-content: center;
 align-items: center;
 position: relative;
 font-size: 170%;
 top: 130px;
}
#tol{
 font-family: 'Poppins', sans-serif; 
 font-weight: 300;
 color: black;
 display: flex;
 justify-content: center;
 align-items: center;
 position: relative;
 font-size: 120%;
 top: 130px;
 opacity: 0.97;
}
#inicio{
 font-family: 'Poppins', sans-serif; 
 font-weight: 400;
 color: white;
 display: flex;
 justify-content: center;
 align-items: center;
 position: relative;
 font-size: 130%;
 top: 145px;
left: 300px;
border: none;
border-radius: 50px;
width: 180px;
height: 65px;
background-color: #141414;
text-decoration: none;
cursor: pointer;
}
#supo{
font-family: 'Poppins', sans-serif;
font-weight: 400;
color: black;
border: none;
width: 210px;
height: 65px;
font-size: 130%;
border-radius: 50px;
position: fixed;
top: 555px;
left: 500px;
cursor: pointer;
text-align: center;
padding-top: 16px;

}
a{
    text-decoration: none;
}
#botoes404 button{
display: flex;
justify-content: center;

}