@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');


body{
background-color: #d9d9d9;
display: flex;
justify-content: center;
height: 200vh;
align-items: center;
width: 107vh;
}
#plano1{
    width: 300px;
    height: 600px;
    background-color: white;
    
border-radius: 40px;
position: relative;
border: 4px solid rgba(0, 0, 0, 26%);
overflow: hidden;
left: 150px;
}
#plano2{
    width: 320px;
    height: 650px;
    background-color: white;
    
border-radius: 40px;
position: relative;
top: -24px;
border: 4px solid rgba(0, 0, 0, 4%);
overflow: hidden;
left: -70px;
}
#plano3{
    width: 300px;
    height: 600px;
    background-color: white;
    
border-radius: 40px;
position: relative;
border: 4px solid rgba(0, 0, 0, 26%);
overflow: hidden;
left: -48px;
}
#planos{
display: flex;
    justify-content: space-between;
gap: 20px;
position: absolute;
top: 230px;
}
#pln{
position: absolute;
top: 10px;
font-family: 'Inter', sans-serif;
font-weight: 800;
color: rgba(0, 0, 0, 60%);
font-size: 250%;
left: 260px;
}
#pln2{
position: absolute;
top: 90px;
font-family: 'Inter', sans-serif;
font-weight: 500;
color: rgba(0, 0, 0, 35%);
font-size: 120%;
left: 320px;
}
#ct{
text-align: center;
font-family: 'Montserrat', sans-serif;
font-weight: 900;
color: rgba(37, 37, 37, 0.5);
font-size: 130%;
position: relative;
top: 01px;

}
#lin{
    width: 300px;
    height: 2px;
    background-color: rgba(0, 0, 0, 55%);
position: absolute;
top: 66px;


}
#pc2{
background-color: rgba(0, 0, 0, 13%);
padding: 16px;
}
#pc1{
background-color: rgba(0, 0, 0, 26%);
padding: 16px;
}
#rs1seme{
font-family: 'Montserrat', sans-serif;
font-weight: 600;
font-size: 120%;
position: relative;
left: 58px;
top: -27px;
}
#precop1seme{
    font-family: 'Inter', sans-serif;
    position: absolute;
    top: -14px;
    left: 87px;
font-size: 260%;
}
#periodop1seme{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 130%;
position: absolute;
left: 170px;
top: 19px;
}
#vezesx1seme{
font-family: 'Montserrat', sans-serif;
font-weight: 600;
font-size: 108%;
position: relative;
left: 59px;
top: -36px;

}
#rs1anu{
font-family: 'Montserrat', sans-serif;
font-weight: 600;
font-size: 120%;
position: relative;
left: 58px;
top: -24px;
}
#precop1anu{
    font-family: 'Inter', sans-serif;
    position: absolute;
    top: -13px;
    left: 94px;
font-size: 260%;
}
#periodop1anu{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 130%;
position: absolute;
left: 180px;
top: 19px;
}
#vezesx1anu{
font-family: 'Montserrat', sans-serif;
font-weight: 600;
font-size: 108%;
position: relative;
left: 59px;
top: -35px;

}
#precoseme1{
    position: relative;
    left: -20px;


}
#precoanu1{
    position: relative;
left: -20px;
    top: -35px;
}
#linha1p1{
    width: 300px;
height: 4px;
background-color: rgba(0, 0, 0, 26%);
position: absolute;
top: 297px;

}
#smp1{
border: none;
position: absolute;
top: 320px;
left: 70px;
width: 150px;
height: 50px;
background-color: black;
color: white;
font-family: 'Poppins', sans-serif;
border-radius: 50px;
font-size: 130%;
transition: transform .2s ease;
}
#osp1{
font-family: 'Montserrat', sans-serif;
font-weight: 500;
position: absolute;
top: 376px;
font-size: 110%;
left: 20px;
color: rgba(0, 0, 0, 66%);
}
#linha2p1{
    width: 300px;
    height: 4px;
    background-color: rgba(0, 0, 0, 26%);
    position: relative;
top: 80px;
}
#jep1{
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
position: absolute;
top: 460px;
left: 35px;
text-align: center;
font-weight: 600;
}
#btsp1{
position: relative;
top: 150px;
left: 85px;

}
#anualp1{
    position: relative;
    left: -50px;
border: none;
width: 100px;
height: 50px;
background-color: black;
color: white;
font-family: 'poppins', sans-serif;
font-size: 120%;
border-radius: 50px;
transition: transform .2s ease;
cursor: pointer;
}
#semestralp1{
    position: relative;
    left: -40px;
border: none;
width: 120px;
height: 50px;
background-color: black;
color: white;
font-family: 'poppins', sans-serif;
font-size: 120%;
border-radius: 50px;
transition: transform .2s ease;
cursor: pointer;
}
#anualp1:hover{
transform: scale(1.03);

}
#semestralp1:hover{
transform: scale(1.03);

}
#anualp2{
    position: relative;
    left: 53px;
border: none;
width: 220px;
height: 60px;
background-color: black;
color: white;
font-family: 'poppins', sans-serif;
font-size: 170%;
border-radius: 50px;
top: 330px;
transition: transform .2s ease;
cursor: pointer;
}
#semestralp2{
    position: relative;
    left: 40px;
border: none;
width: 120px;
height: 50px;
background-color: black;
color: white;
font-family: 'poppins', sans-serif;
font-size: 120%;
border-radius: 50px;
top: 330px;

}
#linha2p2{
width: 400px;
height: 4px;
background-color: rgba(0, 0, 0, 26%);
position: relative;
top: 220px;

}
#linha1p2{
    width: 400px;
height: 4px;
background-color: rgba(0, 0, 0, 26%);
position: absolute;
top: 230px;

}
#rs2seme{
font-family: 'Montserrat', sans-serif;
font-weight: 600;
font-size: 120%;
position: relative;
left: 58px;
top: -30px;
}
#precop2seme{
    font-family: 'Inter', sans-serif;
    position: absolute;
    top: -60px;
    left: 87px;
font-size: 260%;

}
#precoseme2{
    position: relative;
top: 50px;
left: 40px;
}
#periodop2seme{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 130%;
position: absolute;
left: 170px;
top: 19px;
}
#vezesx2seme{
font-family: 'Montserrat', sans-serif;
font-weight: 600;
font-size: 108%;
position: relative;
left: 59px;
top: -0px;

}
#smp2{
border: none;
position: absolute;
top: 260px;
left: 90px;
width: 150px;
height: 50px;
background-color: black;
color: white;
font-family: 'Poppins', sans-serif;
border-radius: 50px;
font-size: 130%;
cursor: pointer;
transition: transform .2s ease;
}
#osp2{
font-family: 'Montserrat', sans-serif;
font-weight: 500;
position: absolute;
top: 316px;
font-size: 110%;
left: 35px;
color: rgba(0, 0, 0, 66%);
}
#precomplemento{
    font-family: 'Inter', sans-serif;
    position: absolute;
    top: -53px;
    left: 146px;
font-size: 160%;
}
#ap{
font-family: 'Montserrat', sans-serif;
font-weight: 600;
font-size: 120%;
position: relative;
left: 47px;
top: 1px;
color: rgba(0, 0, 0, 50%);
}
#jep2{
        font-family: 'Montserrat', sans-serif;
    font-size: 100%;
position: absolute;
top: 420px;
left: 40px;
text-align: center;
font-weight: 600;
}
#anualp3{
    position: relative;
    left: 46px;
border: none;
width: 220px;
height: 68px;
background-color: black;
color: white;
font-family: 'poppins', sans-serif;
font-size: 170%;
border-radius: 50px;
top: 260px;
transition: transform .2s ease;
cursor: pointer;
}
#anualp3:hover{
transform: scale(1.03);

}
#anualp2:hover{
transform: scale(1.03);

}
#semestralp3{
    position: relative;
    left: 40px;
border: none;
width: 120px;
height: 50px;
background-color: black;
color: white;
font-family: 'poppins', sans-serif;
font-size: 120%;
border-radius: 50px;
top: 330px;

}
#linha2p3{
width: 400px;
height: 4px;
background-color: rgba(0, 0, 0, 26%);
position: relative;
top: 190px;

}
#linha1p3{
    width: 400px;
height: 4px;
background-color: rgba(0, 0, 0, 26%);
position: absolute;
top: 230px;

}
#rs3seme{
font-family: 'Montserrat', sans-serif;
font-weight: 600;
font-size: 120%;
position: relative;
left: 58px;
top: -30px;
}
#precop3seme{
    font-family: 'Inter', sans-serif;
    position: absolute;
    top: -60px;
    left: 90px;
font-size: 260%;

}
#precoseme3{
    position: relative;
top: 50px;
left: 10px;
}
#periodop3seme{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 130%;
position: absolute;
left: 170px;
top: 19px;
}
#vezesx3seme{
font-family: 'Montserrat', sans-serif;
font-weight: 400;
font-size: 108%;
position: relative;
left: 29px;
top: -0px;

}
#smp3{
border: none;
position: absolute;
top: 260px;
left: 80px;
width: 150px;
height: 50px;
background-color: black;
color: white;
font-family: 'Poppins', sans-serif;
border-radius: 50px;
font-size: 130%;
transition: transform .2s ease;
}
#osp3{
font-family: 'Montserrat', sans-serif;
font-weight: 500;
position: absolute;
top: 326px;
font-size: 110%;
left: 25px;
color: rgba(0, 0, 0, 66%);
width: 300px;
}
#precomplemento3{
    font-family: 'Inter', sans-serif;
    position: absolute;
    top: -53px;
    left: 163px;
font-size: 160%;
}
#ap3{
font-family: 'Montserrat', sans-serif;
font-weight: 600;
font-size: 120%;
position: relative;
left: 66px;
top: 1px;
color: rgba(0, 0, 0, 50%);
}
#vezesx{
    font-family: 'Montserrat', sans-serif;
font-weight: 600;
font-size: 108%;
position: relative;
left: 40px;
top: 10px;

}
#smp1:hover,
#smp2:hover,
#smp3:hover{
transform: scale(1.03);
cursor: pointer;
}
#opp{
font-family: 'Montserrat', sans-serif;
position: relative;
top: 50px;
font-size: 250%;
left: 110px;
}
#oplanos{
display: grid;
grid-template-columns: repeat(4, 1fr);
gap: 76px;
position: relative;
top: 200px;

}
#plano4{
background-color: white;
width: 500px;
height: 300px;
position: relative;
top: 80px;
border-radius: 40px;
border: 4px solid rgba(0, 0, 0, 26%);
overflow: hidden;

}
#plano5{
background-color: white;
width: 100px;
height: 100PX;
}
#mr{
position: relative;
top: -36px;
left: 226px;
width: 230px;
height: 30px;
background-color: rgb(150, 41, 41);
border-radius: 9px;
z-index: 1;
}
#mr3{
text-align: center;
position: relative;
top: -17px;
font-family: 'Montserrat', sans-serif;
color: white;
}
#app{
font-family: 'Montserrat', sans-serif;
font-weight: 600;
font-size: 100%;
position: relative;
left: 20px;
top: 1px;
color: rgba(0, 0, 0, 50%);
width: 260px;
text-align: center;
}
#plano6{
    width: 100px;
    height: 100px;
    background-color: white;
}
#plano7{
    width: 100px;
    height: 100px;
    background-color: white;
}
#rs1p4{
font-family: 'Montserrat', sans-serif;
font-size: 120%;
position: absolute;
top: 80px;
left: 50px;
}
#preco1p4{
font-family: 'Inter', sans-serif;
font-size: 260%;
position: absolute;
left: 80px;
}
#infop1{
    font-family: 'Montserrat', sans-serif;
position: relative;
font-size: 100%;
left: 95px;
}
#pc4{
background-color: rgba(0, 0, 0, 26%);
padding: 16px;
height: 40px;
position: relative;
z-index: 2;
}
#ct4{
text-align: center;
font-family: 'Montserrat', sans-serif;
font-weight: 900;
color: rgba(37, 37, 37, 0.67);
font-size: 130%;
position: relative;
top: -6px;
}
#periodo1p4{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 130%;
position: absolute;
left: 165px;
top: 104px;
}