@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

body{
background-color: #d9d9d9;
display: flex;
justify-content: center;
height: 80vh;
align-items: center;
}
#plano1{
    width: 300px;
    height: 600px;
    background-color: white;
    
border-radius: 40px;
position: relative;
border: 4px solid rgba(0, 0, 0, 26%);
overflow: hidden;
}
#plano2{
    width: 320px;
    height: 650px;
    background-color: white;
    
border-radius: 40px;
position: relative;
top: -24px;
}
#plano3{
    width: 300px;
    height: 600px;
    background-color: white;
    
border-radius: 40px;
position: relative;
}
#planos{
display: flex;
    justify-content: space-between;
gap: 20px;
position: absolute;
top: 230px;
}
#pln{
position: absolute;
top: 10px;
font-family: 'Inter', sans-serif;
font-weight: 800;
color: rgba(0, 0, 0, 60%);
font-size: 250%;
}
#pln2{
position: absolute;
top: 90px;
font-family: 'Inter', sans-serif;
font-weight: 500;
color: rgba(0, 0, 0, 35%);
font-size: 120%;
}
#ct{
text-align: center;
font-family: 'Montserrat', sans-serif;
font-weight: 900;
color: rgba(37, 37, 37, 0.5);
font-size: 130%;
position: relative;
top: 01px;

}
#lin{
    width: 300px;
    height: 2px;
    background-color: rgba(0, 0, 0, 55%);
position: absolute;
top: 66px;


}
#pc{
background-color: rgba(0, 0, 0, 26%);
padding: 16px;
}
#rs1seme{
font-family: 'Montserrat', sans-serif;
font-weight: 600;
font-size: 120%;
position: relative;
left: 58px;
top: 10px;
}
#precop1seme{
    font-family: 'Inter', sans-serif;
    position: absolute;
    top: -14px;
    left: 87px;
font-size: 260%;
}
#periodop1seme{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 130%;
position: absolute;
left: 170px;
top: 19px;
}
#vezesx1seme{
font-family: 'Montserrat', sans-serif;
font-weight: 600;
font-size: 108%;
position: relative;
left: 59px;
top: -0px;

}
#rs1anu{
font-family: 'Montserrat', sans-serif;
font-weight: 600;
font-size: 120%;
position: relative;
left: 58px;
top: 10px;
}
#precop1anu{
    font-family: 'Inter', sans-serif;
    position: absolute;
    top: -13px;
    left: 94px;
font-size: 260%;
}
#periodop1anu{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 130%;
position: absolute;
left: 166px;
top: 19px;
}
#vezesx1anu{
font-family: 'Montserrat', sans-serif;
font-weight: 600;
font-size: 108%;
position: relative;
left: 59px;
top: -0px;

}
#precoseme1{
    position: relative;
    left: -20px;


}
#precoanu1{
    position: relative;
left: -20px;
}
#linhap1{
    width: 300px;
height: 4px;
background-color: rgba(0, 0, 0, 26%);
position: absolute;
top: 260px;
}
#smp1{
border: none;
position: absolute;
top: 300px;
left: 70px;
width: 150px;
height: 50px;
background-color: black;
color: white;
font-family: 'Poppins', sans-serif;
border-radius: 50px;
font-size: 130%;
}
#osp1{
font-family: 'Montserrat', sans-serif;
font-weight: 500;
position: absolute;
top: 356px;
font-size: 110%;
left: 20px;
color: rgba(0, 0, 0, 66%);
}