body{
background-color: #d9d9d9;
color: white;

min-height: 130vh;
}
#barrac{
width: 80%;
height: 50px;
background-color: white;
position: sticky;
top: 20px;
border-radius: 50px;
left: 87px;
display: flex;
margin: 0 auto;
}
#logo{
width: 150px;
height: 150px;
background-image: url(LogoQ.png);
background-repeat: no-repeat;
background-position: -10px;
background-size: 100%;
z-index: 1;
position: sticky;

transform: translate(0px, -54px);
}