body{
background-color: #d9d9d9;
color: white;
display: flex;
justify-content: center;
height: 100vh;


}
#barrac{
width: 80%;
height: 50px;
background-color: white;
position: absolute;
top: 20px;
border-radius: 50px;
}