@import url('https://fonts.googleapis.com/css2?family=Montaser:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap');

body{
background-color: #d9d9d9;
color: white;

min-height: 130vh;
}
#barrac{
width: 1000px;
height: 50px;
background-color: white;
position: sticky;
top: 30px;
border-radius: 50px;
left: 87px;
display: flex;
margin: 0 auto;

}
#logo{
width: 150px;
height: 150px;
background-image: url(LogoQ.png);
background-repeat: no-repeat;
background-position: -10px;
background-size: 100%;
z-index: 1;
position: sticky;

transform: translate(0px, -54px);
}

#botaop{
width: 120px;
height: 40px;
background-color: black;
position: sticky;
transform: translate(720px, 4.9px);
border-radius: 50px;
}
#botaop3{
width: 100px;
height: 100px;
    font-family: 'Montserrat', sans-serif;
position: sticky;
transform: translate(16px, -10px);
letter-spacing: -0.3px;

}